{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/companylist.css" /#}
<div class="wapper_content" id="app">
  <div class="logoPart">
    <div class="logo">
      <a href=""><img src="__ROOT__\assets\images\home\logo_xiazi.png" alt=""></a>
      <a href=""><span>打造财税生态链</span></a>
    </div>
    <div class="search">
      <div class="search-input">
        <!-- <img src="__ROOT__\assets\images\home\search.jpg" alt=""> -->
        <input type="text" placeholder="请输入要搜索的内容或者关键字">
        <button>搜索</button>
      </div>
      <span>热门推荐：
        <ul>
          <li><a href="">财务招聘</a></li>
          <li><a href="">设计求职</a></li>
          <li><a href="">银行</a></li>
          <li class="none"><a href="">前端招聘</a></li>
        </ul>
      </span>
    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <div class="top-head">
        <button class="info">求职信息</button>
      </div>
      <div class="classification">
        <p><span>类别</span><a href="script:;">财务/会计</a><a href="script:;">软件开发</a><a href="script:;">设计</a></p>
        <p><span>职位</span><a href="script:;">财务</a><a href="script:;">出纳</a><a href="script:;">会计</a><a
            href="script:;">审计</a><a href="script:;">工商注册2</a><a href="script:;">管理培训2</a></p>
        <p><span>区域</span>
          <select name="" id="" placeholder="西宁">
            <option value="tab1">城东区</option>
            <option value="tab2">城东区</option>
            <option value="tab3">城东区</option>
            <option value="tab4">城东区</option>
            <option value="tab5">城东区</option>
            <option value="tab6">城东区</option>
            <option value="tab7">城东区</option>
            <option value="tab8">城东区</option>
          </select>
          <a href="script:;">全西宁</a><a href="script:;">城中区</a><a href="script:;">城东区</a><a href="script:;">城西区</a><a
            href="script:;">城北区</a><a href="script:;">大通县</a><a href="script:;">湟中区</a><a href="script:;">湟源县</a>
        </p>
        <p><span>发布时间</span>
          <select name="" id="" class="other" placeholder="2022">
            <option value="tab1">2022</option>
            <option value="tab2">2012</option>
          </select>
          <select name="" id="" class="other" placeholder="01月">
            <option value="tab1">01月</option>
            <option value="tab2">02月</option>
          </select>
          <select name="" id="" class="other" class="other" placeholder="11日">
            <option value="tab1">12日</option>
            <option value="tab2">15日</option>
          </select>
          至
          <select name="" id="" class="other" placeholder="2022">
            <option value="tab1">2022</option>
            <option value="tab2">2012</option>
          </select>
          <select name="" id="" class="other" placeholder="01月">
            <option value="tab1">01月</option>
            <option value="tab2">02月</option>
          </select>
          <select name="" id="" class="other" placeholder="11日">
            <option value="tab1">12日</option>
            <option value="tab2">15日</option>
          </select>
        </p>
        <p><span>学历</span><a href="script:;">研究生</a><a href="script:;">本科</a><a href="script:;">专科</a><a
            href="script:;">高中</a><a href="script:;">其他</a></p>
        <p><span>工作经验</span><a href="script:;">应届毕业生</a><a href="script:;">1-3年</a><a href="script:;">3-5年</a><a
            href="script:;">5-10年</a><a href="script:;">10年以上</a></p>
        <p><span>您是不是要找</span><a href="script:;">会计</a><a href="script:;">会计助理</a><a href="script:;">代理记账</a><a
            href="script:;">会计求职</a><a href="script:;">会计招聘</a><a href="script:;">会计兼职</a></p>
      </div>
    </div>

    <div class="main-list">
      <table width="100%" align="center" cellspacing="0" cellpadding="20">
        <thead>
          <tr>
            <th style="width: 50px;">姓名</th>
            <th style="width: 165px;">意向职位</th>
            <th style="width: 245px;">意向区域</th>
            <th style="width: 110px;">工作经验</th>
            <th style="width: 124px;">学历</th>
            <th style="width: 143px;">是否在职</th>
            <th style="width: 282px;">发布时间</th>
            <th style="width: 280px;">是否推荐</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
          <tr>
            <td>张xx</td>
            <td>财务</td>
            <td>城东区</td>
            <td>1-3年</td>
            <td>本科</td>
            <td>否</td>
            <td>2022年7月7日</td>
            <td>黄金展位</td>
          </tr>
        </tbody>

      </table>
      <div class="paging">
        <el-pagination :page-size="20" :pager-count="11" layout="prev, pager, next" :total="1000">
        </el-pagination>
      </div>

    </div>
  </div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data() {
    },
  })

</script>
<style>

</style>