{#layout name="public/layout" /#}{#include file="public/search" /#}
<div class="mac-x">
  <div class="mac-y mac-p1em mac-nbx" style="width: 23em">
    <div class="mac-y mac-wf mac-p1em" style="border-radius: 1em; background-color: var(--mac-color-back)">
      <h1 class="mac-ico-shangjia mac-bmr1em" style="font-size: 1.4em; color: var(--mac-color-main)">{#$data.name#}</h1>
      <div class="mac-xsc mac-mt1em"
        ><img class="imgheader mac-mr1em" src="{#$data.user.photo#}" />{#$data.user.nickname#}</div
      >
      <div class="mac-y mac-p2em" style="border-radius: 1em; background-color: var(--mac-color-white)">
        <div class="mac-x mac-za">
          <div class="{#$data.evaluate>=80?'up':'down'#}">
            <p>评价</p>
            <p>{#:number_format($data.evaluate/20,1)#}</p>
          </div>
          <div class="{#$data.service>=80?'up':'down'#}">
            <p>服务</p>
            <p>{#:number_format($data.service/20,1)#}</p>
          </div>
          <div class="{#$data.logistics>=80?'up':'down'#}">
            <p>物流</p>
            <p>{#:number_format($data.logistics/20,1)#}</p>
          </div>
        </div>
        <div class="mac-x mac-za mac-mt2em">
          <div class="mac-btn mac-ico-zhuanfa noico" model="Shop" mid="{#$shop#}">分享店铺</div>
          <div
            class="mac-btn mac-ico-favor noico"
            model="Shop"
            mid="{#$shop#}"
            style="background-color: var(--mac-color-main2); color: var(--mac-color-main)"
            >收藏店铺</div
          >
        </div>
      </div>
      <div class="mac-y mac-jc mac-wf" style="font-size: 2em" id="types">
        <a class="shop-index-btn">店铺首页</a>
        <div class="sidebar">{#:ulbar($types2,'type2')#}</div>
      </div>
    </div>
  </div>
  <div class="mac-y mac-fg1">
    <div class="topbar" >{#:ulbar($types,'type')#}</div>
    <div class="listGrid" sum="3">
      {#volist name='data.goods' id='d'#}
      <div class="item">
        <a href="{#:P(['goods'=>$d.id])#}"><img src="{#$d.cover#}" alt="" /></a>
        <div class="mac-x mac-zb mac-je mac-p1em">
          <div class="mac-x mac-je" style="color: var(--mac-color-red); font-size: 1.4em"
            >￥<span style="font-size: 1.4em">{#$d.expense#}</span></div
          >
          <span>已售:{#$d.sales#}</span>
        </div>
        <div class="mac-ml2em mac-mt04em mac-txt-hid">{#$d.name#}</div>
        <div class="mac-x mac-p1em mac-jc mac-zb" style="font-size: 1.4em">
          <a
            href="{#:P(['shop'=>$d.shop.id])#}"
            class="mac-ico-shangjia mac-bmr1em"
            style="color: var(--mac-color-main); font-weight: 600"
            >{#$d.shop.name#}</a
          >
          <div class="mac-x">
            <div
              class="mac-btn mac-ico-favor"
              model="Goods"
              mid="{#$d.id#}"
              style="background-color: initial; color: gold"
            ></div>
            <div
              class="mac-btn mac-ico-add_cart"
              model="Cart"
              mid="{#$d.id#}"
              style="color: var(--mac-color-red); background-color: initial"
            ></div>
          </div>
        </div>
      </div>
      {#/volist#}
    </div>
  </div>
</div>
