{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/bbsStruggle.css" /#}
<div class="wapper_content" id="app">
    <!-- #region -->
    <div class="logoPart">
        <div class="logo">
            <img src="/assets/images/home/logo_xiazi.png" alt="">
            <span>打造财税生态链</span>
        </div>
        <!-- <div class="search">
            <div class="search-input">
                <div>
                    <select name="" id="">
                        <option value="">用户</option>
                        <option value="">关键字词</option>
                        <option value="">关键字词</option>
                        <option value="">关键字词</option>
                        <option value="">关键字词</option>
                        <option value="">关键字词</option>
                    </select>
                    <input type="text" placeholder="请输入要搜索的用户">
                </div>
                <button>搜索（用户/内容）</button>
            </div>
        </div> 
         <div class="release">
            <button>我要发布</button>
            <p><img src="/assets/images/home/shop_2.png" alt=""><a href="/officialWeb/shopMy">我的</a></p> 
         </div>                          -->
    </div>
    <div class="main">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="/officialWeb/bbsTime">虾时光</a></el-breadcrumb-item>
            <el-breadcrumb-item>我的奋斗</el-breadcrumb-item>
        </el-breadcrumb>
        <div class="mainContent">
            <div class="left">
                <div class="user">
                    <img src="/assets/images/home/ask_01.png" alt="">
                    <h2>尼古丁·凯奇</h2>
                    <div><span>关注 999</span><span>粉丝 9999</span></div>
                    <p>籽虾号：12345678</p>
                    <p>虾币：1376</p>
                </div>
                <div class="nav">
                    <h2>全部动态</h2>
                    <span>关注</span>
                    <span>推荐</span>
                </div>
            </div>
            <div class="right">
                <div class="formContent">
                    <div class="formOther">
                        
    
    
                    </div>
                </div>
            </div>
           







        </div>
    </div>
</div>
<script>

    var app = new Vue({
        el: '#app',
        data() {
            return {
               
            }
        },
        methods: {
           
        }
    })

</script>