{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/service.css" /#}
<div class="wrap" id="app">
    <div class="logoPart">
        <div class="logo">
            <a href=""><img src="/assets/images/home/logo_xiazi.png" alt=""></a>
        </div>
    </div>
    <div class="main">
        <div class="navigation">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
                <el-breadcrumb-item>企服</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="mainContent">

            <div class="contact">
                <el-tooltip class="item" effect="dark" content="在线咨询" placement="left">
                    <img src="/assets/images/home/process_message.png" alt="">
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="电话联系" placement="left">
                    <img src="/assets/images/home/process_phone.png" alt="">
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="提交需求" placement="left">
                    <img src="/assets/images/home/process_book.png" alt="">
                </el-tooltip>
            </div>

            <div class="adverName">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="business">
                <a href="">
                    <img src="/assets/images/home/qifu_01.png" alt="">
                    <span>注册</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_02.png" alt="">
                    <span>变更</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_03.png" alt="">
                    <span>转让</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_04.png" alt="">
                    <span>注销</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_05.png" alt="">
                    <span>地理标志</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_06.png" alt="">
                    <span>商标</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_07.png" alt="">
                    <span>专利</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_08.png" alt="">
                    <span>版权</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_08.png" alt="">
                    <span>社保</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_09.png" alt="">
                    <span>资质</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_10.png" alt="">
                    <span>许可证</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_11.png" alt="">
                    <span>法律</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_12.png" alt="">
                    <span>审计资讯</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_13.png" alt="">
                    <span>评估咨询</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_14.png" alt="">
                    <span>验资资讯</span>
                </a>
                <a href="">
                    <img src="/assets/images/home/qifu_15.png" alt="">
                    <span>政采云入围</span>
                </a>
            </div>
            <div class="details">
                <div class="box_2">
                    <div class="tuijian">
                      <img src="/assets/images/home/tuijian_02.png" alt="">
                    </div>
                    <div class="box_right">
                      <div class="line"></div>
                      <div class="child_1 box">
                        <div class="top">1</div>
                        <span class="other">选择区县</span>
                      </div>
                      <div class="child_2 box">
                        <div class="top">2</div>
                        <span>费用支付托管</span>
                      </div>
                      <div class="child_2 box">
                        <div class="top">3</div>
                        <span>费用支付托管</span>
                      </div>
                      <div class="child_2 box">
                        <div class="top">4</div>
                        <span>
                          <select name="" id="">
                            <option value="" disabled selected style="display: none;">付款</option>
                            <option value="">同意付款</option>
                            <option value="">延期付款</option>
                            <option value="">申请退款</option>
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                <div class="detailsCon">
                    <img src="/assets/images/home/process_bd.png" alt="">
                </div>
            </div>



        </div>
    </div>

</div>
<script>
    var app = new Vue({
        el: "#app",
        data() {
        }
    });
</script>