{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/companySell.css" /#}
<div class="wapper_content" id="app">
    <!-- #region -->
    <div class="logoPart">
        <div>
            <div class="logo">
                <img src="/assets/images/home/logo_xiazi.png" alt="">
                <span>打造财税生态链</span>
            </div>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
                <el-breadcrumb-item>企业转让</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="banner">
            <el-carousel trigger="click" height="130px">
                <el-carousel-item v-for="item in 4" :key="item">
                    <h3 class="small">{{ item }}</h3>
                </el-carousel-item>
            </el-carousel>
        </div>
    </div>
    <div class="main">
        <div class="box_1">
            <div class="child_1">
                <div class="search">
                    <div class="search-input">
                        <div>
                            <i class="el-icon-search"></i>
                            <input type="text" v-mordel="input" placeholder="请输入关键字">
                        </div>
                        <button>搜索</button>
                    </div>


                </div>
                <div class="release">
                    <button @click="fabu=true">我要发布</button>
                    <el-dialog :visible.sync="fabu">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px"
                            class="demo-ruleForm">
                            <el-form-item label="标题" prop="title">
                                <el-input v-model="ruleForm.other.title" placeholder="请输入标题"></el-input>
                            </el-form-item>
                            <el-form-item label="转让企业名称" prop="name">
                                <el-input v-model="ruleForm.name" placeholder="请输入转让企业名称"></el-input>
                            </el-form-item>
                            <el-form-item label="企业类型" prop="type">
                                <el-select v-model="ruleForm.type" placeholder="请选择企业类型">
                                    <el-option label="国企" value="shanghai"></el-option>
                                    <el-option label="民营" value="shanghai"></el-option>
                                    <el-option label="合资" value="shanghai"></el-option>
                                    <el-option label="外商独资" value="shanghai"></el-option>
                                    <el-option label="股份制企业" value="shanghai"></el-option>
                                    <el-option label="上市公司" value="shanghai"></el-option>
                                    <el-option label="国家机关" value="shanghai"></el-option>
                                    <el-option label="事业单位" value="shanghai"></el-option>
                                    <el-option label="其它" value="shanghai"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="所属行业" prop="category">
                                <el-select v-model="ruleForm.category" placeholder="请选择所属行业">
                                    <el-option label="有限责任公司" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="转让价格" prop="points">
                                <el-input v-model="ruleForm.points" placeholder="请输入转让价格"></el-input>
                            </el-form-item>
                            <el-form-item label="成立时间" prop="reg_time">
                                <el-date-picker v-model="ruleForm.reg_time" type="date" placeholder="成立时间">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="经营年限" prop="use_time">
                                <el-select v-model="ruleForm.use_time" placeholder="请输入经营年限">
                                    <el-option label="1-2年" value="value1"></el-option>
                                    <el-option label="2-3年" value="value2"></el-option>
                                    <el-option label="3-5年" value="value3"></el-option>
                                    <el-option label="5-10年" value="value4"></el-option>
                                    <el-option label="10年以上" value="value5"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="注册资本" prop="regcap">
                                <el-input v-model="ruleForm.regcap" placeholder="请输入注册资本"></el-input>
                            </el-form-item>
                            <el-form-item label="经营范围" prop="business">
                                <el-input v-model="ruleForm.business" placeholder="请输入经营范围"></el-input>
                            </el-form-item>
                            <el-form-item label="纳税人类型" prop="taxpayer">
                                <el-select v-model="ruleForm.taxpayer" placeholder="请选择纳税人类型">
                                    <el-option label="一般纳税人" value="shanghai"></el-option>
                                    <el-option label="小规模纳税人" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="注册区域" prop="addr">
                                <el-input v-model="ruleForm.addr" placeholder="请输入注册区域"></el-input>
                            </el-form-item>
                            <el-form-item label="有无资质/许可证" prop="licence">
                                <el-radio v-model="radio2" label="1">有</el-radio>
                                <el-radio v-model="radio2" label="2">无</el-radio>
                                <el-input v-model="ruleForm.other.licence" type="textarea" placeholder="请输入资质/许可证详细信息">
                                </el-input>
                            </el-form-item>
                            <el-form-item label="有无商标" prop="trademark">
                                <el-radio v-model="radio1" label="1">有</el-radio>
                                <el-radio v-model="radio1" label="2">无</el-radio>
                                <el-input v-model="ruleForm.other.trademark" type="textarea" placeholder="请输入商标信息"></el-input>
                            </el-form-item>
                            <el-form-item label="股权转让" prop="stock">
                                <div style="width: 300px;margin-right: 20px;">
                                    <el-input v-model="ruleForm.other.stock" placeholder="请输入转让比例"></el-input>
                                </div>
                                <el-checkbox v-model="checked">全部</el-checkbox>
                            </el-form-item>

                            <el-form-item label="手机号" prop="tel">
                                <el-input v-model="ruleForm.tel" placeholder="请输入手机号"></el-input>
                            </el-form-item>
                            <el-form-item label="验证码" prop="code">
                                <el-input v-model="ruleForm.other.code" placeholder="请输入验证码"></el-input>
                                <el-button type="success" round>获取验证码</el-button>
                            </el-form-item>
                            <el-form-item label="上传照片" prop="photo">
                                <el-upload class="avatar-uploader" action="https://jsonplaceholder.typicode.com/posts/"
                                    :show-file-list="false" :on-success="handleAvatarSuccess"
                                    :before-upload="beforeAvatarUpload">
                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </el-form-item>
                            <el-form-item label="其他说明">
                                <el-input v-model="ruleForm. requirement" placeholder="请输入其他说明"></el-input>
                            </el-form-item>
                            <el-form-item label="转让企业授权书">
                                <el-input v-model="ruleForm.other.book" placeholder="支持类型：DOCX  PDF" suffix-icon="el-icon-folder-opened
                                "></el-input>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                                <el-button @click="resetForm('ruleForm')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>
                </div>
            </div>
            <div class="child_2">
                <span class="active"><a href="/company/companySell">企业转让信息</a></span>
                <span><a href="/company/companyBuy">企业求购信息</a></span>
                <span><a href="/company/trademarkSell">商标转让信息</a></span>
                <span><a href="/company/trademarkBuy">商标求购信息</a></span>
                <span><a href="/company/companyMy">我的</a></span>
            </div>
        </div>
        <div class="box_2">
            <div class="tuijian">
                <img src="/assets/images/home/tuijian_02.png" alt="">
            </div>
            <div class="box_right">
                <div class="line"></div>
                <div class="child_1 box">
                    <div class="top">1</div>
                    <span class="other">上传合同</span>
                </div>
                <div class="child_2 box">
                    <div class="top">2</div>
                    <span>费用支付托管</span>
                </div>
                <div class="child_2 box">
                    <div class="top">3</div>
                    <span>
                        <select name="" id="">
                            <option value="" disabled selected style="display: none;">付款</option>
                            <option value="">同意付款</option>
                            <option value="">延期付款</option>
                            <option value="">申请退款</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div class="box_3">
            <!-- <div class="box_4">
                <el-select v-model="value" placeholder="预算费用">
                    <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="注册区域">
                    <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="经营年限">
                    <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="所属行业">
                    <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="企业类型">
                    <el-option v-for="item in options5" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="纳税人类型">
                    <el-option v-for="item in options6" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="活跃时间">
                    <el-option v-for="item in options7" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="资质许可证">
                    <el-option v-for="item in options8" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-select v-model="value" placeholder="商标">
                    <el-option v-for="item in options9" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>

            </div> -->

            <div class="box_5">
                <div class="list" v-for="(i,ii) in dataList" :key="ii">
                    <div class="child_1">
                        <div class="son_1" @click="goDetails(i.id)">
                            <img src="/assets/images/home/ask_01.png" alt="">
                            <h2>{{i.other.name}}</h2><span>¥{{i.points}}元</span>
                        </div>
                        <div class="son_2">{{ft(i.addtime)}}<button @click="contact=true"><i
                                    class="el-icon-chat-dot-round"></i>马上联系</button></div>
                        <el-dialog :visible.sync="contact">
                            <span>{{i.tel}}</span>
                        </el-dialog>
                    </div>
                    <div class="child_2" @click="goDetails(i.id)">
                        <div>
                            <p>企业行业</p>
                            <span>{{i.category}}</span>
                        </div>
                        <div>
                            <p>企业类型</p>
                            <span>{{i.type}}</span>
                        </div>
                        <div>
                            <p>经营时间</p>
                            <span>1年</span>
                        </div>
                        <div>
                            <p>纳税人类型</p>
                            <span>{{i.taxpayer}}</span>
                        </div>

                        <div>
                            <p>注册资本</p>
                            <span>{{i.regcap}}</span>
                        </div>
                        <div>
                            <p>注册地址</p>
                            <span>{{i.addr}}</span>
                        </div>
                        <div>
                            <p>转让价格</p>
                            <span>{{i.points}}</span>
                        </div>

                    </div>
                    <div class="operation">
                        <div><img src="/assets/images/home/operation_01.png" alt="">转发23</div>
                        <div><img src="/assets/images/home/operation_01.png" alt="">分享23</div>
                        <div><img src="/assets/images/home/operation_02.png" alt="">举报26</div>
                        <div><img src="/assets/images/home/operation_03.png" alt="">点赞15</div>
                    </div>
                   


                </div>



            </div>
        </div>

    </div>
</div>
<script>
    // function GetQueryString(name) {
    //     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");//截取参数
    //     var r = window.location.search.substr(1).match(reg);
    //     if (r != null) return decodeURI(r[2]);
    //     return null;
    // }
    var app = new Vue({
        el: '#app',
        data() {
            return {
                ruleForm: {
                    name: '',
                    type: '',
                    points: '',
                    reg_time: '',
                    use_time: '',
                    business: '',
                    taxpayer: '',
                    tel: '',
                    requirement:'',
                    other: {
                        title: '',
                        licence: '',
                        trademark: '',
                        code: '',
                        book: '',
                    },
                },
                rules: {
                    title: [
                        { required: true, message: '请输入标题', trigger: 'blur' },
                    ],
                    name: [
                        { required: true, message: '请输入转让企业名称', trigger: 'blur' },
                    ],
                    type: [
                        { required: true, message: '请选择企业类型', trigger: 'change' }
                    ],
                    category: [
                        { required: true, message: '请选择所属行业', trigger: 'change' }
                    ],
                    reg_time: [{
                        required: true, message: '请选择成立时间', trigger: 'change'
                    }],
                    points: [
                        { required: true, message: '请输入转让价格', trigger: 'blur' },
                    ],
                    use_time: [
                        { required: true, message: '请输入经营年限', trigger: 'blur' }
                    ],
                    regcap: [
                        { required: true, message: '请输入注册资本', trigger: 'blur' }
                    ],
                    business: [
                        { required: true, message: '请输入经营范围', trigger: 'blur' }
                    ],
                    taxpayer: [
                        { required: true, message: '请选择纳税人类型', trigger: 'change' }
                    ],
                    addr: [
                        { required: true, message: '请输入注册区域', trigger: 'blur' }
                    ],
                    licence: [
                        { required: true, message: '请输入资质/许可证详细信息', trigger: 'blur' }
                    ],
                    trademark: [
                        { required: true, message: '请输入商标信息', trigger: 'blur' }
                    ],
                    stock: [
                        { required: true, message: '请输入转让比例', trigger: 'blur' }
                    ],
                    requirement:[{
                        required: true, message: '请输入其他要求', trigger: 'blur'
                    }],

                    tel: [
                        { required: true, message: '请输入电话号码', trigger: 'blur' }
                    ],
                    code: [
                        { required: true, message: '请输入验证码', trigger: 'blur' }
                    ]
                },
                fabu: false,
                contact: false,
                radio1: '1',
                radio2: '1',
                checked: false,
                imageUrl: '',
                data: [],
                dataList: [],
                input: '',
                value: '',
            }
        },
        created() {
            // this.itemIndex = GetQueryString('itemIndex')
            // this.getCompanyBuy()
            this.getCompanySave()
        },
        methods: {
            ft: formatShortTime,
            // 上传照片
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt1M = file.size / 1024 / 1024 < 1;

                if (!isJPG) {
                    this.$message.error('上传图片只能是 JPG 格式!');
                }
                if (!isLt1M) {
                    this.$message.error('上传头像图片大小不能超过 1MB!');
                }
                return isJPG && isLt2M;
            },
            // 提交
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //   重置
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },

            //公司转让
            async getCompanySave() {
                const res = await httppost('member/CompanyTransfer/index');
                this.dataList = res.data;
                // console.log(this.dataList[0].tel);
                console.log(this.dataList);
            },
            goDetails(id) {
                location.href = `/company/sellCompanyDet/${id}.html`;
            },

            // 我要发布
            // fabu(){
            //     if(utype==0){
            //         this.message(this.message)
            //     }
            // }






        }
    })

</script>