{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/positionDet.css" /#}
<div class="wapper_content" id="app">
    <!-- #region -->
    <div class="logoPart">
        <div class="logo">
            <img src="/assets/images/home/logo_xiazi.png" alt="">
            <span>打造财税生态链</span>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="/resume">免费招聘</a></el-breadcrumb-item>
                <el-breadcrumb-item>职位介绍</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="main_bot">
            <div class="left1">
                <div class="box_1">
                    <div class="child_1">
                        <h1>财务主管-全西宁</h1>
                        <p>4000-8000<span>元/月</span></p>
                       
                        <span>2022-9-19</span>

                    </div>
                    <div class="child_2">
                        <div class="child_21">
                            <p><img src="/assets/images/home/xiangq_1.png" alt="">招10人</p>
                        <p><img src="/assets/images/home/xiangq_2.png" alt="">经验不限</p>
                        <p><img src="/assets/images/home/xiangq_3.png" alt="">学历不限</p>
                        </div>
                         <div class="child_22">
                            <span>五险一金</span>
                            <span>年底双薪</span>
                            <span>交通补助</span>
                            <span>交通补助</span>
                        </div>
                        
                    </div>
                    <div class="child_3">
                        <div class="child_31">
                            <button><i class="el-icon-s-promotion"></i>
                                投递简历</button>
                            <button><i class="el-icon-chat-dot-round"></i>
                                在线沟通</button>
                            <button><i class="el-icon-phone-outline"></i>
                                拨打电话</button>
                        </div>
                        <div class="operation">
                            <div><img src="/assets/images/home/operation_01.png" alt="">转发23</div>
                            <div><img src="/assets/images/home/operation_04.png" alt="">转发23</div>
                            <div><img src="/assets/images/home/operation_02.png" alt="">举报</div>
                            <div><img src="/assets/images/home/operation_03.png" alt="">点赞15</div>
                        </div>
                        
                    </div>
                </div>
                <div class="comContent">
                    <div class="box_2">
                        <div class="list">
                            <h1>职位描述</h1>
                           
                            <h3>岗位职责：</h3>
                            <p>1、 负责公司各项财务制度的编制和执行。</p>
                            <p>2、 负责公司预算、决算的编制和执行。</p>
                            <p>3、 负责公司绩效考核方案的制定和执行。</p>
                            <p>4、 负责公司成本控制、监督与考核。</p>
                            <p>5、 负责一般纳税人、小规模纳税人的纳税申报相关工作及报关工作。</p>
                        </div>
                        <div class="list">
                            <h3>岗位要求：</h3>
                            <p>1、 负责公司各项财务制度的编制和执行。</p>
                            <p>2、 负责公司预算、决算的编制和执行。</p>
                            <p>3、 负责公司绩效考核方案的制定和执行。</p>
                            <p>4、 负责公司成本控制、监督与考核。</p>
                            <p>5、 负责一般纳税人、小规模纳税人的纳税申报相关工作及报关工作。</p>
                        </div>


                    </div>
                    <div class="box_3">
                        <div class="list">
                            <div class="left1">
                                <h1>公司信息</h1>
                                <div class="child_1">
                                    <h2>青海公司名称有限公司</h2>
                                    <span>50-99人 </span>
                                    <span>快速消费品（食品/饮料等）</span>
                                </div>
                                <div class="child_2">
                                    <span>会员</span>
                                    <span>普通企业认证</span>
                                    <span>普通实名认证</span>
                                </div>
                            </div>
                            <div class="right1">
                                <img src="" alt="">
                                <div class="child_3">
                                    <p>吴女士</p>
                                    <p>招聘联系人 <span>今天活跃</span></p>
                                </div>

                            </div>


                        </div>
                        <div class="list1">
                            <h1>公司介绍</h1>
                            <p>公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍。
                            </p>
                        </div>
                        <div class="list2">
                            <h1>工商信息</h1>
                            <div class="child_1">
                                <div>
                                    <p>公司名称</p>
                                    <span>青海公司名称有限公司</span>
                                </div>
                                <div>
                                    <p>法定代表人</p>
                                    <span>赵仕鹏</span>
                                </div>
                                <div>
                                    <p>成立时间</p>
                                    <span>2012-7-25</span>
                                </div>
                                <div>
                                    <p>企业类型</p>
                                    <span>股份有限公司</span>
                                </div>
                                <div>
                                    <p>经营状态</p>
                                    <span>正常</span>
                                </div>
                                <div>
                                    <p>注册资金</p>
                                    <span>1000万人民币</span>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="box_3">

                        <div class="list1">
                            <h1>公司地址</h1>
                            <img src="/assets/images/home/dizhi.png" alt="">
                        </div>

                    </div>


                </div>
            </div>
            <div class="right2">
                <div class="people_1">
                   
                        <div class="comPic">
                            <img src="/assets/images/home/en_01.png" alt="">
                            <div class="jia"><img src="/assets/images/home/en_03.png" alt=""></div>
                        </div>
                        <div class="child_11">
                            <h2>陈女士</h2>
                           <p class="span_1">人事经理<span>今日活跃</span></p>
                        </div>
                        
                    
                </div>

                <div class="right_top">
                    <h1>青海财务管理有限公司</h1>
                    <div class="child_1 ">
                        <div class="child_21">
                            <i class="el-icon-circle-check"></i>
                            已实名认证
                         </div>
                        <p><img src="/assets/images/home/rem_1.png" alt="">100-499人</p>
                        <p><img src="/assets/images/home/rem_2.png" alt="">计算机软件</p>
                        
                    </div>
                    <div class="child_2">
                        <div>
                            <p>20</p>
                            <span>简历投递</span>
                        </div>
                        <div>
                            <p>16</p>
                            <span>招聘职位</span>
                        </div>
                    </div>
                    <button>查看全部职位</button>

                </div>
                <div class="right_bot">
                    <h1>相似职位</h1>
                    <div class="child_1" v-for="n in 6">
                        <div class="span_1">
                            <h2>互联网产品经理</h2>
                            <p>4000-8000
                                <span>元/月</span>
                            </p>
                        </div>
                        <div class="span_2">
                            <span>北京博瑞网络科技有限公司</span>
                            <span>全西宁</span>
                        </div>


                    </div>
                    <button>查看更多相似职位</button>

                    
                </div>


            </div>



        </div>










    </div>
</div>
<script>

    var app = new Vue({
        el: '#app',
        data() {
            return {
                itemIndex: 1,

            }
        },
        methods: {
            clickTab(index) {
                this.itemIndex = index
            },
        }
    })

</script>