.idea
.env
*.log
.svn
runtime
**/node_modules
public/upload/files
public/upload/poster
public/admin/static/config.js
public/adminm/static/config.js
public/m/static/config.js
public/m/static/tongji.js
public/member/static/config.js
application/database.php
application/.htaccess
public/tpl/member/static/config.js
/application/database.php
**/*.lock
public/admin/**
public/adminm/**
public/tpl/member/**
public/tpl/mobile/**
*.7z
*.zip