<!DOCTYPE html>
<html lang="en">
  <head>
    {#load href="__ROOT__/assets/css/base.css" /#} {#load href="__ROOT__/assets/css/video_recruitment.css" /#}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>视频招聘</title>
  </head>

  <body>
    <div class="video_wrapper">
      <div class="video_header">
        <div class="w1200 video_header_inner flex">
          <div class="flex cursor logo flex flexCenter">
            <a href="{#:url('index/index/index')#}">
              <img src="{#$global_config.logoUrl#}" alt="" />
            </a>
            视频招聘
          </div>
          <a href="{#:url('index/index/index')#}">
            <div class="video_back cursor">
              <span>返回首页</span>
            </div>
          </a>
        </div>
      </div>
      <div class="video_content">
        <div class="video_left_text">
          <div class="tab_btn clearfix">
            <div class="tab_btn_item">
              <img class="btn_img" src="__ROOT__/assets/images/video_recruitment/tab_btn_1_ac.png" alt="" />
            </div>
            <div class="tab_btn_item">
              <img class="btn_img" src="__ROOT__/assets/images/video_recruitment/tab_btn_2.png" alt="" />
            </div>
          </div>
          <div class="sw_text">
            <span class="ac">
              <!-- 招聘 -->
              刷视频招人才<br />汇聚海量人才精准推荐
            </span>
            <span>
              <!-- 求职 -->
              好工作刷出来<br />海量高薪职位任你挑选
            </span>
          </div>
          <div class="video_code">
            <div class="code_box">
              <div class="code_img_box">
                <img src="{#$qrcodeSrc#}" alt="" />
              </div>
            </div>
            <div class="code_text">
              微信扫一扫 <br />
              开启求职招聘新体验
            </div>
          </div>
        </div>
        <div class="video_right_img">
          <img class="bg1" src="__ROOT__/assets/images/video_recruitment/right_bg1.png" alt="" />
          <img class="bg2" src="__ROOT__/assets/images/video_recruitment/right_bg2.png" alt="" />
        </div>
      </div>
      <div class="video_footer">
        <!--            视频招聘PC底部后边的“人才网”字样去除-->
        <p>找工作，招人才就上{#$global_config.sitename#}</p>
        <p>联系电话：{#$global_config.contact_tel#}</p>
      </div>
    </div>
  </body>
  <script src="__ROOT__/assets/js/jquery.min.js"></script>
  <script>
    $(function () {
      // 页面加载完成动画
      $(".video_right_img .bg1").addClass("ac");
      $(".video_right_img .bg2").addClass("ac");

      $(".video_left_text .tab_btn").addClass("ac");
      $(".video_left_text .sw_text").addClass("ac");
      $(".video_left_text .video_code").addClass("ac");
      // 切换
      $(".tab_btn .tab_btn_item").click(function () {
        $(".tab_btn .tab_btn_item").each(function (index, item) {
          $(".video_left_text .sw_text span").eq(index).attr("class", "");
          // $('.tab_btn .tab_btn_item').eq(index).find('.btn_img').css({ 'top': '' })
          if (index) {
            $(this).find(".btn_img").attr("src", "__ROOT__/assets/images/video_recruitment/tab_btn_2.png");
          } else {
            $(this).find(".btn_img").attr("src", "__ROOT__/assets/images/video_recruitment/tab_btn_1.png");
          }
        });
        var index = $(this).index();
        $(".video_left_text .sw_text span").eq(index).attr("class", "ac");
        if (index) {
          $(".tab_btn .tab_btn_item").eq(index).find(".btn_img").attr("src", "__ROOT__/assets/images/video_recruitment/tab_btn_2_ac.png");
          // $('.tab_btn .tab_btn_item').eq(index).find('.btn_img').css({ 'top': '-30px' })
        } else {
          $(".tab_btn .tab_btn_item").eq(index).find(".btn_img").attr("src", "__ROOT__/assets/images/video_recruitment/tab_btn_1_ac.png");
          // $('.tab_btn .tab_btn_item').eq(index).find('.btn_img').css({ 'top': '-30px' })
        }
      });
    });
  </script>
</html>
