{#layout name="public/layout" /#}
{#load href="/assets/css/chain.css" /#}

<div class="main">
    <div class="container">
        <div class="web-nav"><a href="/linkList">网站导航</a></div>
        <div class="app-center"><a href="/officialWeb/store">应用中心</a></div>
        <div class="window"><a href="">便捷窗口</a></div>
        <div class="box_1"><a href="/offWebsite">办事官网</a></div>
        <div class="box_2"><a href="">升国旗</a></div>
    
        <div class="time"><a href="/officialWeb/bbsTime">虾时光</a></div>
        <div class="fiscal-game"><a href="/games">财税游戏</a></div>
        <div class="morning-paper"><a href="/morning">籽虾早报</a></div>
        <div class="getMonth"><a href="/monthly">籽虾月刊</a></div>
        <div class="box_3"><a href="/entertain">戏说财税</a></div>
    
        <div class="bookkeeping"><a href="/financial">找代账</a></div>
        <div class="box_4"><a href="">籽虾记账</a></div>
        <div class="box_5"><a href="/">云审计</a></div>
        <div class="box_6"><a href="/">云库管</a></div>
        <div class="box_7"><a href="/">云记账</a></div>
        <div class="financial-outsourc"><a href="/outsourcing">财务外包</a></div>


    
        <div class="tax-shopping"><a href="/officialWeb/shop">财税购物</a></div>
        <div class="invoice-query"><a href="/invoice">发票查验</a></div>
        <div class="box_10"><a href="/invoice">云开票</a></div>
        <div class="box_11"><a href="/officialWeb/service">企业服务</a></div>
        <div class="box_12"><a href="/">名称查测</a></div>
        <div class="box_13"><a href="/company/comIndex">转让求购</a></div>
        <div class="box_14"><a href="/officialWeb/academic">学术研究</a></div>
        <div class="box_15"><a href="/bank">银行咨询</a></div>
    
        <div class="regulations"><a href="/statute/financial">法规库</a></div>
        <div class="free-study"><a href="/study/financial">免费学习</a></div>
        <div class="question"><a href="/ask/financial">有问必答</a></div>
        <div class="download-center"><a href="">籽虾文库</a></div>
    
    
        <div class="circle-center"><a href="/chain">籽虾财税</a><br><a href="/chain">生态链</a></div>
        <div class="other"><a href="">其他</a></div>
        <div class="wealth"><a href="/entertain">财</a></div>
        <div class="tax"><a href="">税</a></div>
        <div class="teach"><a href="">教</a></div>
        <div class="learn"><a href="/study/financial">学</a></div>
        <div class="study"><a href="/officialWeb/academic">研</a></div>
        <div class="hire"><a href="/resume">聘</a></div>
        <div class="sliver"><a href="/bank">银</a></div>
        <div class="trade"><a href="/officialWeb/service">业</a></div>
        <div class="ticket"><a href="/invoice">票</a></div>
        <div class="matter"><a href="/officialWeb/shop">物</a></div>
        <div class="life"><a href="/officialWeb/bbsTime">生活</a></div>
    
        <div class="center-text">一站式人才供求平台</div>
        <div class="internship"><a href="/financialJob">实习操作</a></div>
        <div class="employment"><a href="/employment">包就业</a></div>
        <div class="dispatched "><a href="/resumeLabor">派遣就业</a></div>
        <div class="company"><a href="/officialWeb/serviceHome">单位</a></div>
        <div class="free-recruitment"><a href="/resume">免费招聘</a></div>
        <div class="substitute-recruitment"><a href="/fast/resume">代招人才</a></div>
        <div class="agency-account"><a href="/financial">找代账</a></div>
        <div class="financial-outsourcing"><a href="/outsourcing">财务外包</a></div>
        <div class="dispatched-labor"><a href="/jobLabor">派遣用工</a></div>
        <div class="personnel"><a href="/fast/resume">人才</a></div>
        <div class="free-job"><a href="/job">免费求职</a></div>
        <div class="job-hunting"><a href="/fast/job">代找工作</a></div>
    </div>
</div>