<!-- {#layout name="public/layout" /#}
<div class="mac-wf mac-y" style="background-color: #fff;">
  <div>type={#$type#}</div>
  {#volist name="links" id="vo"#}
  <div style="width:100%;border:1px solid;margin-top:1em;">
    <div style="background-color: #0aa;">{#$vo.name#}</div>
    <?php show($vo)?>
  </div>
  {#/volist#} -->
<!-- </div> -->
{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/conWindow.css" /#}
<div class="content_wrapper" id="app">

  <div class="logoPart">
    <div class="logo">
      <a href=""><img src="/assets/images/home/logo_xiazi.png" alt=""></a>
      <a href=""><span>打造财税生态链</span></a>
    </div>
    <div class="banner">
      <div class="block">
        <el-carousel height="120px">
          <el-carousel-item v-for="item in list" :key="item">
            <h3 class="small"><img src="{{item.url}}" alt=""></h3>
          </el-carousel-item>
        </el-carousel>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="top">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
        <el-breadcrumb-item>财务快捷窗口</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="mainCon">
      <div class="box_1">
        <el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="handleClose(tag)">
          {{tag}}
        </el-tag>
        <div v-if="inputVisible" class="inputList" ref="saveTagInput">
          <el-input class="input-new-tag" v-model="inputName" size="medium" @keyup.enter.native="handleInputName"
            @blur="handleInputName">
          </el-input>

          <!-- <el-input class="input-new-tag" v-model="inputWeb" size="medium" @keyup.enter.native="handleInputWeb"
            @blur="handleInputWeb">
          </el-input> -->
        </div>
        <el-button v-else class="button-new-tag" size="small" @click="showInput">添加网站</el-button>
      </div>
      <div class="box_2">
        <div class="list" v-for="i in 16">
          <p class="title"><span>招聘</span></p>
          <p class="webName"><a href="" class="item">boss</a></p>
          <button class="moreBtn" onclick="showMore">更多</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  var app = new Vue({
    el: "#app",
    data() {
      return {
        dynamicTags: ['百度', '抖音', '快手'],
        dynamicLinks: ['标签一', '标签二', '标签三'],
        inputVisible: false,
        inputName: '',
        inputWeb: '',
        list: [
          { url: 'https://img1.baidu.com/it/u=1966616150,2146512490&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1663693200&t=e9095f80ce3ae7307bc698d49c1bcd08' },
          { url: 'https://img1.baidu.com/it/u=1966616150,2146512490&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1663693200&t=e9095f80ce3ae7307bc698d49c1bcd08' },
          { url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic345.nipic.com%2Ffile%2F20201122%2F710996_113719685080_2.jpg&refer=http%3A%2F%2Fpic345.nipic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1666148256&t=020170c72d470104f6f89b9971eb91c9' },
          { url: 'https://pics7.baidu.com/feed/377adab44aed2e73a2b38b038a36038c87d6fa01.jpeg?token=bff194533fbee54db4f5ffa0097340b2' },
          { url: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic163.nipic.com%2Ffile%2F20180507%2F25119406_083757974000_2.jpg&refer=http%3A%2F%2Fpic163.nipic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1666148256&t=e0ec68e2f299369a96171eb375d7c91c' },
        ]
      }
    },
    methods: {
      handleClose(tag) {
        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
      },
      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.focus();
        });
      },

      handleInputName() {
        let inputName = this.inputName;
        if (inputName) {
          this.dynamicTags.push(inputName);
        }
        this.inputVisible = false;
        this.inputName = '';
      },

      // handleInputWeb() {
      //   let inputWeb = this.inputWeb;
      //   if (inputWeb) {
      //     this.dynamicTags.push(inputWeb);
      //   }
      //   this.inputVisible = false;
      //   this.inputWeb = '';
      // }
    }

  });
</script>