{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/mDetails.css" /#}
<div class="wapper_content" id="app">
  <!-- #region -->
  <div class="logoPart">
        <div class="logo">
            <img src="/assets/images/home/logo_xiazi.png" alt="">
            <span>打造财税生态链</span>
        </div>
    </div>
    <div class="main">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
            <el-breadcrumb-item>籽虾早报</el-breadcrumb-item>
        </el-breadcrumb>
       
        <div class="mainContent">
            <div class="formContent">
                <h2>籽虾12月刊 ｜ 12月如期而至，爱与冬天同在</h2>
                <div class="box_1" ><span>共160期</span><span>第20期</span><span>西宁出版社出版</span></div>
                <div class="box_2">
                    12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在。12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在。

                    12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在。12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在。
              
                    12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在。12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在，12月如期而至，爱与冬天同在12月如期而至，爱与冬天同在。
                </div>
                
              
            </div>
        </div>
    </div>
</div>
<script>

  var app = new Vue({
    el: '#app',
    data() {
      return {

        input: '',
      }
    },
    methods: {

    }
  })

</script>
