{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/logoLayout.css" /#}
{#load href="__ROOT__/assets/css/monthly.css" /#}
<div class="wapper_content" id="app">
  <!-- #region -->
  <div class="logoPart">
    <div class="logo">
      <img src="/assets/images/home/logo_xiazi.png" alt="">
      <span>打造财税生态链</span>
    </div>
  </div>
  <div class="main">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item><a href="/">籽虾云平台</a></el-breadcrumb-item>
      <el-breadcrumb-item>籽虾月刊</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="tag-ite">
      <div class="span"><a href="/morning">籽虾早报</a></div>
      <div class="span active"><a href="/monthly">籽虾月刊</a></div>
    </div>
    <div class="mainContent">
      <div class="formContent">
        <div class="conts">
          <div class="ite" v-for="i in 12">
            <div class="time">
              <span class="year">2021年</span>
              <span class="mon">12</span>
            </div>
            <div class="cover">
              <img style="width: 300px;height: 280px;" src="@/static/img/shop/32224242.png" alt="" />
            </div>
            <div class="bottom">
              <div class="title">
                籽虾月刊第12期
              </div>
              <div class="info">
                <span>共160期 第20期</span>
                <span>西宁出版社出版</span>
              </div>
              <div class="info">
                <span>编辑：李天天</span>
                <span>审核：王天天</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  var app = new Vue({
    el: '#app',
    data() {
      return {

        input: '',
      }
    },
    methods: {

    }
  })

</script>